<!-- Раздел События -->
<section id="events">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">События</h2>
                <h3 class="section-subheading text-muted">Суббота, 27 июля 2025 года</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="/img/events/rings_3.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Церемония</h4>
                                <h4 class="subheading">16:30</h4>
                                <a href="https://it.wikipedia.org/wiki/Duomo_di_Vasto"><h6>Собор Святого Джузеппе</h6></a>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Волшебный момент, когда мы дадим друг другу обещание вечной любви, окружённые самыми близкими и дорогими людьми.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="/wedding/img/events/aperitif.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Аперитив</h4>
                                <h4 class="subheading">18:30</h4>
                                <a href="https://www.plazavasto.it/"><h6>Plaza Vasto</h6></a>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Давайте отпразднуем любовь и счастье за бокалом освежающего напитка и изысканными закусками в Plaza Vasto. Насладимся приятной атмосферой и радостью общения в кругу родных и друзей.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="/wedding/img/events/dinner.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Ужин</h4>
                                <h4 class="subheading">19:30</h4>
                                <a href="https://www.plazavasto.it/"><h6>Plaza Vasto</h6></a>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">С наступлением вечера мы приглашаем вас на изысканный ужин, наполненный музыкой, смехом и незабываемыми моментами. Впереди нас ждёт ночь любви, радости и праздника!</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
