<!-- Раздел FAQ -->
<section id="FAQ" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Часто задаваемые вопросы</h2>
            </div>
        </div>
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <h4 class="service-heading">Какой дресс-код?</h4>  
            <p class="largepad text-muted">
                Мы просим наших гостей соблюдать <strong>официальный свадебный стиль</strong>. Церемония пройдет в церкви, поэтому рекомендуем элегантные и уместные наряды, чтобы вместе с нами отметить этот особенный день.
            </p>

            <h4 class="service-heading">Какая будет погода?</h4>  
            <p class="largepad text-muted">
                В конце июля в Васто обычно теплая и солнечная погода. Температура ожидается около <strong>28-32°C</strong>, дождь маловероятен. Мы советуем легкие ткани и удобную обувь для вечернего торжества.
            </p>

            <h4 class="service-heading">Предоставляется ли проживание?</h4>  
            <p class="largepad text-muted">
                Проживание не включено, но мы подготовили <strong>список рекомендуемых отелей и B&B</strong> для вашего удобства. Васто — это прекрасный прибрежный город, так что вы можете продлить свое пребывание и насладиться морем.  
                Ознакомиться с нашими рекомендациями можно <a href="#stay"><strong>здесь</strong></a>, либо вы можете забронировать самостоятельно.
            </p>

            <h4 class="service-heading">Есть ли свадебный список подарков?</h4>  
            <p class="largepad text-muted">
                У нас нет традиционного списка подарков. Если вы хотите сделать нам подарок, мы будем очень рады вашему вкладу в наше свадебное путешествие.  
                <br><br>
                <strong>IBAN: LT34 3250 0866 4718 2279</strong>
                <br>
                <strong>Получатель: Микеле и Ольга</strong>
                <br>
                <strong>Назначение платежа: Свадебный подарок</strong>
                <br><br>
                Огромное спасибо за вашу щедрость! Ваше присутствие — лучший подарок для нас. ❤️
            </p>
        </div>
    </div>
</section>
