<!-- Раздел Где остановиться -->
<section id="stay" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Где остановиться</h2>
                <h3 class="section-subheading text-muted">Вот подборка жилья, которое мы рекомендуем для вашего пребывания в Васто.</h3>
            </div>
        </div>
        
        <!-- Первый ряд - 4 отеля -->
        <div class="row">
            <!-- BluOnly -->
            <div class="col-md-3">
                <div class="hotel-card">
                    <h4 class="hotel-name">BluOnly</h4>
                    <div class="hotel-type">Бутик-отель</div>
                    <div class="hotel-info">
                        <p><i class="fa fa-home"></i> Бутик-отель в историческом центре Васто с захватывающим видом на залив</p>
                        <p><i class="fa fa-map-marker"></i> Via Adriatica, 7, 66054 Vasto CH</p>
                        <p><i class="fa fa-phone"></i> 338 7887667 / 0873 612573</p>
                        <p><i class="fas fa-external-link-alt"></i> <a href="https://www.bluonly.it" target="_blank" class="hotel-link">www.bluonly.it</a></p>
                        <p><i class="fa fa-car"></i> 6 минут на машине от Plaza Vasto</p>
                    </div>
                </div>
            </div>
            
            <!-- B&B Corte Rossetti -->
            <div class="col-md-3">
                <div class="hotel-card">
                    <h4 class="hotel-name">B&B CORTE ROSSETTI</h4>
                    <div class="hotel-type">Роскошный B&B</div>
                    <div class="hotel-info">
                        <p><i class="fa fa-map-marker"></i> Центр Васто</p>
                        <p><i class="fa fa-phone"></i> 0873 368399</p>
                        <p><i class="fas fa-external-link-alt"></i> <a href="https://www.corterossetti.it" target="_blank" class="hotel-link">www.corterossetti.it</a></p>
                        <p><i class="fa fa-car"></i> Короткая поездка от Plaza Vasto</p>
                    </div>
                </div>
            </div>
            
            <!-- La Postale -->
            <div class="col-md-3">
                <div class="hotel-card">
                    <h4 class="hotel-name">LA POSTALE</h4>
                    <div class="hotel-type">B&B</div>
                    <div class="hotel-info">
                        <p><i class="fa fa-map-marker"></i> Via Roma 51, 66050 San Salvo, Italy</p>
                        <p><i class="fa fa-phone"></i> 348 9335956 / 345 0979751</p>
                        <p><i class="fas fa-external-link-alt"></i> <a href="https://lapostalesansalvo.it" target="_blank" class="hotel-link">lapostalesansalvo.it</a></p>
                        <p><i class="fa fa-car"></i> 10-15 минут езды от Plaza Vasto</p>
                    </div>
                </div>
            </div>
            
            <!-- Hotel Principe -->
            <div class="col-md-3">
                <div class="hotel-card">
                    <h4 class="hotel-name">HOTEL PRINCIPE</h4>
                    <div class="hotel-type">Отель</div>
                    <div class="hotel-info">
                        <p><i class="fa fa-map-marker"></i> Марина ди Васто</p>
                        <p><i class="fa fa-phone"></i> 0873 801628</p>
                        <p><i class="fas fa-external-link-alt"></i> <a href="http://hotelprincipevasto.com" target="_blank" class="hotel-link">hotelprincipevasto.com</a></p>
                        <p><i class="fa fa-car"></i> 10-15 минут езды от Plaza Vasto</p>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Второй ряд - 4 отеля -->
        <div class="row">
            <!-- Hotel Adriatico -->
            <div class="col-md-3">
                <div class="hotel-card">
                    <h4 class="hotel-name">HOTEL ADRIATICO</h4>
                    <div class="hotel-type">Отель</div>
                    <div class="hotel-info">
                        <p><i class="fa fa-map-marker"></i> Васто Марина</p>
                        <p><i class="fa fa-phone"></i> 0873 801431</p>
                        <p><i class="fas fa-external-link-alt"></i> <a href="http://www.hotel-adriatico.it" target="_blank" class="hotel-link">www.hotel-adriatico.it</a></p>
                        <p><i class="fa fa-car"></i> 10-15 минут езды от Plaza Vasto</p>
                    </div>
                </div>
            </div>
            
            <!-- Hotel Excelsior -->
            <div class="col-md-3">
                <div class="hotel-card">
                    <h4 class="hotel-name">HOTEL EXCELSIOR</h4>
                    <div class="hotel-type">Отель</div>
                    <div class="hotel-info">
                        <p><i class="fa fa-map-marker"></i> Южная часть Васто Марина</p>
                        <p><i class="fa fa-phone"></i> 0873 802222</p>
                        <p><i class="fas fa-external-link-alt"></i> <a href="http://www.hotelexcelsiorvasto.com" target="_blank" class="hotel-link">www.hotelexcelsiorvasto.com</a></p>
                        <p><i class="fa fa-car"></i> 15-20 минут езды от Plaza Vasto</p>
                    </div>
                </div>
            </div>
            
            <!-- Hotel Dakar -->
            <div class="col-md-3">
                <div class="hotel-card">
                    <h4 class="hotel-name">HOTEL DAKAR</h4>
                    <div class="hotel-type">Отель</div>
                    <div class="hotel-info">
                        <p><i class="fa fa-map-marker"></i> Васто</p>
                        <p><i class="fa fa-phone"></i> 0873 809011</p>
                        <p><i class="fas fa-external-link-alt"></i> <a href="http://www.dakarhotelvasto.it" target="_blank" class="hotel-link">dakarhotelvasto.it</a></p>
                        <p><i class="fa fa-car"></i> 10-15 минут езды от Plaza Vasto</p>
                    </div>
                </div>
            </div>
            
            <!-- Vasto Aparthotel -->
            <div class="col-md-3">
                <div class="hotel-card">
                    <h4 class="hotel-name">VASTO APARTHOTEL</h4>
                    <div class="hotel-type">АПАРТ-ОТЕЛЬ</div>
                    <div class="hotel-info">
                        <p><i class="fa fa-map-marker"></i> Васто</p>
                        <p><i class="fa fa-phone"></i>+39 0873 450407 / +39 348 246 7347</p>
                        <p><i class="fas fa-external-link-alt"></i> <a href="http://vastoaparthotel.com" target="_blank" class="hotel-link">vastoaparthotel.com</a></p>
                        <p><i class="fa fa-car"></i> Короткая поездка от Plaza Vasto</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>