<!-- Where To Stay Section -->
<section id="stay" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Where To Stay</h2>
                <h3 class="section-subheading text-muted">Here is a selection of accommodations we recommend for your stay in Vasto.</h3>
            </div>
        </div>
        
        <!-- Prima riga - 4 hotel -->
        <div class="row">
            <!-- BluOnly -->
            <div class="col-md-3">
                <div class="hotel-card">
                    <h4 class="hotel-name">BluOnly</h4>
                    <div class="hotel-type">Boutique B&B</div>
                    <div class="hotel-info">
                        <p><i class="fa fa-home"></i> Boutique B&B in Vasto's historic center with breathtaking gulf views</p>
                        <p><i class="fa fa-map-marker"></i> Via Adriatica, 7, 66054 Vasto CH</p>
                        <p><i class="fa fa-phone"></i> 338 7887667 / 0873 612573</p>
                        <p><i class="fas fa-external-link-alt"></i> <a href="https://www.bluonly.it" target="_blank" class="hotel-link">www.bluonly.it</a></p>
                        <p><i class="fa fa-car"></i> 6 min by car from Plaza Vasto</p>
                    </div>
                </div>
            </div>
            
            <!-- B&B Corte Rossetti -->
            <div class="col-md-3">
                <div class="hotel-card">
                    <h4 class="hotel-name">B&B CORTE ROSSETTI</h4>
                    <div class="hotel-type">Luxury B&B</div>
                    <div class="hotel-info">
                        <p><i class="fa fa-map-marker"></i> Central Vasto</p>
                        <p><i class="fa fa-phone"></i> 0873 368399</p>
                        <p><i class="fas fa-external-link-alt"></i> <a href="https://www.corterossetti.it" target="_blank" class="hotel-link">www.corterossetti.it</a></p>
                        <p><i class="fa fa-car"></i> Short drive from Plaza Vasto</p>
                    </div>
                </div>
            </div>
            
            <!-- La Postale -->
            <div class="col-md-3">
                <div class="hotel-card">
                    <h4 class="hotel-name">LA POSTALE</h4>
                    <div class="hotel-type">B&B</div>
                    <div class="hotel-info">
                        <p><i class="fa fa-map-marker"></i> Via Roma 51, 66050 San Salvo, Italy</p>
                        <p><i class="fa fa-phone"></i> 348 9335956 / 345 0979751</p>
                        <p><i class="fas fa-external-link-alt"></i> <a href="https://lapostalesansalvo.it" target="_blank" class="hotel-link">laoistalesansalvo.it</a></p>
                        <p><i class="fa fa-car"></i> 10-15 min drive from Plaza Vasto</p>
                    </div>
                </div>
            </div>
            
            <!-- Hotel Principe -->
            <div class="col-md-3">
                <div class="hotel-card">
                    <h4 class="hotel-name">HOTEL PRINCIPE</h4>
                    <div class="hotel-type">Hotel</div>
                    <div class="hotel-info">
                        <p><i class="fa fa-map-marker"></i> Marina di Vasto</p>
                        <p><i class="fa fa-phone"></i> 0873 801628</p>
                        <p><i class="fas fa-external-link-alt"></i> <a href="http://hotelprincipevasto.com" target="_blank" class="hotel-link">hotelprincipevasto.com</a></p>
                        <p><i class="fa fa-car"></i> 10-15 min drive from Plaza Vasto</p>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Seconda riga - 4 hotel -->
        <div class="row">
            <!-- Hotel Adriatico -->
            <div class="col-md-3">
                <div class="hotel-card">
                    <h4 class="hotel-name">HOTEL ADRIATICO</h4>
                    <div class="hotel-type">Hotel</div>
                    <div class="hotel-info">
                        <p><i class="fa fa-map-marker"></i> Vasto Marina</p>
                        <p><i class="fa fa-phone"></i> 0873 801431</p>
                        <p><i class="fas fa-external-link-alt"></i> <a href="http://www.hotel-adriatico.it" target="_blank" class="hotel-link">www.hotel-adriatico.it</a></p>
                        <p><i class="fa fa-car"></i> 10-15 min drive from Plaza Vasto</p>
                    </div>
                </div>
            </div>
            
            <!-- Hotel Excelsior -->
            <div class="col-md-3">
                <div class="hotel-card">
                    <h4 class="hotel-name">HOTEL EXCELSIOR</h4>
                    <div class="hotel-type">Hotel</div>
                    <div class="hotel-info">
                        <p><i class="fa fa-map-marker"></i> Southern Vasto Marina</p>
                        <p><i class="fa fa-phone"></i> 0873 802222</p>
                        <p><i class="fas fa-external-link-alt"></i> <a href="http://www.hotelexcelsiorvasto.com" target="_blank" class="hotel-link">www.hotelexcelsiorvasto.com</a></p>
                        <p><i class="fa fa-car"></i> 15-20 min drive from Plaza Vasto</p>
                    </div>
                </div>
            </div>
            
            <!-- Hotel Dakar -->
            <div class="col-md-3">
                <div class="hotel-card">
                    <h4 class="hotel-name">HOTEL DAKAR</h4>
                    <div class="hotel-type">Hotel</div>
                    <div class="hotel-info">
                        <p><i class="fa fa-map-marker"></i> Vasto</p>
                        <p><i class="fa fa-phone"></i> 0873 809011</p>
                        <p><i class="fas fa-external-link-alt"></i> <a href="http://www.dakarhotelvasto.it" target="_blank" class="hotel-link">dakarhotelvasto.it</a></p>
                        <p><i class="fa fa-car"></i> 10-15 min drive from Plaza Vasto</p>
                    </div>
                </div>
            </div>
            
            <!-- Hotel Bristol -->
            <div class="col-md-3">
                <div class="hotel-card">
                    <h4 class="hotel-name">VASTO APARTHOTEL</h4>
                    <div class="hotel-type">APARTHOTEL</div>
                    <div class="hotel-info">
                        <p><i class="fa fa-map-marker"></i> Vasto</p>
                        <p><i class="fa fa-phone"></i>+39 0873 450407 / +39 348 246 7347</p>
                        <p><i class="fas fa-external-link-alt"></i> <a href="http://vastoaparthotel.com" target="_blank" class="hotel-link">vastoaparthotel.com</a></p>
                        <p><i class="fa fa-car"></i> Short drive from Plaza Vasto</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>