<!-- Раздел Локация -->
<section id="venue" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Локация</h2>
                <h3 class="section-subheading text-muted">
                    Наша свадьба пройдет в прекрасном городе <strong>Васто (CH)</strong>, известном своими потрясающими видами на побережье и исторической атмосферой. 
                    Мы рады отметить наш праздник в <strong>Plaza Vasto</strong>, великолепном месте, где нас ждет вечер, наполненный любовью, радостью и незабываемыми моментами.
                </h3>
                <p class="text-muted"><a href="https://www.plazavasto.it/"><strong>📍 Plaza Vasto</strong><br></a>
                <a href="https://maps.app.goo.gl/xjuFn63VeEE1nPPg9">Località, Via Montevecchio, 15/p, 66054 Vasto CH</a><br>
                🚗 <em>Парковка доступна рядом</em></p>
            </div>
        </div>

        <style>
        .google-maps {
            position: relative;
            padding-bottom: 75%; /* Поддержание пропорций */
            height: 0;
            overflow: hidden;
        }
        .google-maps iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100% !important;
            height: 100% !important;
        }
        </style>

        <div class="google-maps">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2960.6203357027125!2d14.716024176031848!3d42.0941834712187!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1330dcefef7bd14b%3A0xe5fcea3bc51b885a!2sPlaza%20Vasto!5e0!3m2!1sit!2sit!4v1741550957912!5m2!1sit!2sit" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</section>
