<!-- Sezione Cose da Fare -->
<section id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Cose da Fare</h2>
                <h3 class="section-subheading text-muted">Scoprite le meraviglie di Vasto durante il vostro soggiorno per il nostro matrimonio. Dalla bellezza naturale della Riserva di Punta Aderci alle attrazioni storiche come Palazzo d'Avalos, c'è tanto da esplorare e apprezzare.</h3>
            </div>
        </div>
        <div class="row">
        {% for post in site.data.it.thingstodo %}
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="#portfolioModal{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="/wedding/img/portfolio/{{ post.thumbnail }}" class="img-responsive img-centered" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>{{ post.title }}</h4>
                    <p class="text-muted">{{ post.subtitle }}</p>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</section>
