<!-- Events Section -->
<section id="events">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Events</h2>
                <h3 class="section-subheading text-muted">Saturday, July 27th, 2025</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="/img/events/rings_3.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Ceremony</h4>
                                <h4 class="subheading">4:30 PM</h4>
                                <a href="https://it.wikipedia.org/wiki/Duomo_di_Vasto"><h6>Concattedrale di San Giuseppe</h6></a>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">A magical moment where we will promise each other a lifetime of love, surrounded by our dearest family and friends.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="/img/events/aperitif.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Aperitif</h4>
                                <h4 class="subheading">6:30 PM</h4>
                                <a href="https://www.plazavasto.it/"><h6>Plaza Vasto</h6></a>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Let’s celebrate love and happiness with a delightful aperitif at Plaza Vasto. Enjoy exquisite bites, refreshing drinks, and the warm embrace of joyful company as we toast to the beginning of our forever.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="/img/events/dinner.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Dinner</h4>
                                <h4 class="subheading">7:30 PM</h4>
                                <a href="https://www.plazavasto.it/"><h6>Plaza Vasto</h6></a>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">As the evening unfolds, we invite you to indulge in a beautifully curated dinner, accompanied by music, laughter, and unforgettable moments. A night of love, joy, and celebration awaits!</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>