<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header page-scroll">
      <button
        type="button"
        class="navbar-toggle"
        data-toggle="collapse"
        data-target="#bs-example-navbar-collapse-1"
      >
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <span>
        <a
          class="brand page-scroll"
          href="#page-top"
          style="text-decoration: none"
          >Olga+Michele</a
        >&nbsp;&nbsp;&nbsp;
        <a href="/en" class="btn-m">EN</a>
        <a href="/it" class="btn-m">IT</a>
        <a href="/ru" class="btn-m">RU</a>
      </span>
    </div>


    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="hidden">
          <a href="#page-top"></a>
        </li>
        <li>
          <a class="page-scroll" href="#events">Events</a>
        </li>
        <li>
          <a class="page-scroll" href="#venue">Venue</a>
        </li>
        <li>
          <a class="page-scroll" href="#travel">Travel</a>
        </li>
        <li>
          <a class="page-scroll" href="#stay">Stay</a>
        </li>
        <li>
          <a class="page-scroll hidden-xs hidden-sm" href="#portfolio"
            >Things To Do</a
          >
        </li>
        <li>
          <a class="page-scroll" href="#FAQ">FAQ</a>
        </li>
        <li>
          <a class="page-scroll" href="#rsvp">RSVP</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>

<!-- Header -->
<header>
  <div class="container">
    <div class="intro-text">
      <div class="intro-heading">Olga and Michele<br />are getting married</div>
      <div class="intro-lead-in">27th July 2025</div>
      <div class="intro-lead-in">Vasto (CH)</div>
      <div class="intro-lead-in">
        <div id="countdown" class="countdown-wrapper">
          <div class="countdown-item">
            <span id="days"></span>
            <div class="countdown-label">Days</div>
          </div>
          <div class="countdown-item">
            <span id="hours"></span>
            <div class="countdown-label">Hours</div>
          </div>
          <div class="countdown-item">
            <span id="minutes"></span>
            <div class="countdown-label">Minutes</div>
          </div>
          <div class="countdown-item">
            <span id="seconds"></span>
            <div class="countdown-label">Seconds</div>
          </div>
        </div>
      </div>
      <a href="#events" class="page-scroll btn btn-xl btn-ghost">TELL ME MORE</a>
    </div>
  </div>
</header>